.miniChart {
	position: relative;
	width: 100%;
}

.chartContent {
  position: absolute;
  bottom: -28px;
  width: 100%;
}

.chartContent > div {
  margin: 0 -5px;
  overflow: hidden;
}

.chartLoading {
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -7px;
}

.miniChartWrapper{
  display: flex;
  justify-content: center;
}

.miniChartWrapper canvas{
  cursor: pointer!important;
}

.g2-tooltip {
  pointer-events:none !important
}